{% extends 'base.html' %}

{% block title %}Game times{% endblock %}

{% block content %}

{% for game in games %}
  <div class="game-details">
    <p>Name: {{ game.name }}</p>
    <p>First time played: {{ game.first_time_played }}</p>
    <p>Last played: {{ game.last_played }}</p>
    <p>Playtime: {{ game.playtime_hours }}h {{ game.playtime_minutes }}m</p>
    <p>Release year: {{ game.release_year }}</p>
    <p>Description: {{ game.description }}</p>
  </div>
{% endfor %}

{% endblock content %}
