{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<style>
  .footer-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .task-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    background-color: rgb(14, 27, 53);
    width: 75%;
    margin: 20px;
    border-radius: 25px;
    border: 2px solid #b28fc7;
    opacity: 0.95;
  }
  .icon-panel {
    width: 45px;
    height: 45px;
    margin: 15px 20px;
  }
  .u_icon{
    width: 100%;
  }
  body{
    background-image: url('/static/lounge/wallpapers/forest.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
</style>

<div>
  <div class="footer-wrapper">
    <div class="task-manager">
      <div class="icon-panel"><img class="u_icon" src="{% static 'lounge/icons/apps/scalable/preferences-desktop-gaming.svg' %}" alt="My image"></div>
      <div class="icon-panel"><img class="u_icon" src="{% static 'lounge/icons/apps/scalable/accessories-dictionary.svg' %}" alt="My image"></div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- https://github.com/Axarva/dotfiles-2.0 -->