{% extends 'base.html' %}
{% load static %}
{% block title %}Practice Hiragana{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'japanese/css/hiragana_katakana.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="start">
    <h1>Tofugu's Learn Hiragana Quiz</h1>
    <div class="text">
    <p>
        If you want to practice katakana instead
        <a href="{% url 'katakana' %}">click here.</a>
    </p>
    </div>
    <div>
    <label class="all select-box">
        <input type="checkbox" />
        <p>All Hiragana</p>
    </label>
    </div>
    <div class="checkbox-container">
    <div>
        <h2>Main Hiragana</h2>
        <label class="all-main select-box">
        <input type="checkbox" />
        <p>All Main Hiragana</p>
        </label>

        <div class="checkboxes main">
        <label class="options select-box">
            <input type="checkbox" />
            <p>あ/a</p>
        </label>

        <label class="options select-box">
            <input type="checkbox" />
            <p>か/ka</p>
        </label>

        <label class="options select-box">
            <input type="checkbox" />
            <p>さ/sa</p>
        </label>

        <label class="options select-box">
            <input type="checkbox" />
            <p>た/ta</p>
        </label>

        <label class="options select-box">
            <input type="checkbox" />
            <p>な/na</p>
        </label>

        <label class="options select-box">
            <input type="checkbox" />
            <p>は/ha</p>
        </label>

        <label class="options select-box">
            <input type="checkbox" />
            <p>ま/ma</p>
        </label>

        <label class="options select-box">
            <input type="checkbox" />
            <p>や/ya</p>
        </label>

        <label class="options select-box">
            <input type="checkbox" />
            <p>ら/ra</p>
        </label>

        <label class="options select-box">
            <input type="checkbox" />
            <p>わ/wa</p>
        </label>
        </div>
    </div>

    <div>
        <h2>Dakuten/Handakuten</h2>
        <label class="all-dakuten select-box">
        <input type="checkbox" />
        <p>All Dakuten Hiragana</p>
        </label>
        <div class="checkboxes dakuten">
        <label class="options select-box">
            <input type="checkbox" />
            <p>が/ga</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>ざ/za</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>だ/da</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>ば/ba</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>ぱ/pa</p>
        </label>
        </div>
    </div>

    <div>
        <h2>Combination</h2>
        <label class="all-combo select-box">
        <input type="checkbox" />
        <p>All Combination Hiragana</p>
        </label>
        <div class="checkboxes combo">
        <label class="options select-box">
            <input type="checkbox" />
            <p>きゃ/kya</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>しゃ/sha</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>ちゃ/cha</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>にゃ/nya</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>ひゃ/hya</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>みゃ/mya</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>りゃ/rya</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>ぎゃ/gya</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>じゃ/ja</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>ぢゃ/dya</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>びゃ/bya</p>
        </label>
        <label class="options select-box">
            <input type="checkbox" />
            <p>ぴゃ/pya</p>
        </label>
        </div>
    </div>
    </div>

    <button class="press-start button-styling">Start Quiz!</button>
</div>

<div class="quiz-page">
    <div class="quiz-header">
    <h2>Type Romaji for the Hiragana That You Know</h2>
    <ul>
        <li>Type your answer in romaji in the card's text field</li>
        <li>Press ENTER to submit</li>
        <li>Repeat for as many cards as you can</li>
        <li>You can try as many times as you want</li>
        <li>
        When you're done press the "Finish Quiz" button at the bottom
        </li>
    </ul>
    </div>
    <div class="quiz"></div>
    <div class="quiz-end">
    <button class="end-quiz button-styling">Finish Quiz</button>
    </div>
</div>

<div class="results" id="results-area">
    <h2>View Your Results</h2>
    <div class="percent-results"></div>

    <div class="time-elapsed"></div>

    <div class="incorrect-details">
    <div class="table-wrap">
        <div class="table-section-top">
        <h2>Main Hiragana</h2>
        <p class="main-score"></p>
        </div>
        <table class="main-table">
        <tbody>
            <tr class="kana-header 0">
            <th>あ</th>
            <th>い</th>
            <th>う</th>
            <th>え</th>
            <th>お</th>
            </tr>
            <tr class="kana-details 0">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 0">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprtartrprprubyii-rubyrprprtirtrprprubyii-rubyrprprturtrprprubyii-rubyrprprtertrprprubyii-rubyrprprtortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 1">
            <th>か</th>
            <th>き</th>
            <th>く</th>
            <th>け</th>
            <th>こ</th>
            </tr>
            <tr class="kana-details 1">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 1">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprtkartrprprubyii-rubyrprprtkirtrprprubyii-rubyrprprtkurtrprprubyii-rubyrprprtkertrprprubyii-rubyrprprtkortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 2">
            <th>さ</th>
            <th>し</th>
            <th>す</th>
            <th>せ</th>
            <th>そ</th>
            </tr>
            <tr class="kana-details 2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 2">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprtsartrprprubyii-rubyrprprtshirtrprprubyii-rubyrprprtsurtrprprubyii-rubyrprprtsertrprprubyii-rubyrprprtsortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 3">
            <th>た</th>
            <th>ち</th>
            <th>つ</th>
            <th>て</th>
            <th>と</th>
            </tr>
            <tr class="kana-details 3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 3">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprttartrprprubyii-rubyrprprtchirtrprprubyii-rubyrprprttsurtrprprubyii-rubyrprprttertrprprubyii-rubyrprprttortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 4">
            <th>な</th>
            <th>に</th>
            <th>ぬ</th>
            <th>ね</th>
            <th>の</th>
            </tr>
            <tr class="kana-details 4">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 4">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprtnartrprprubyii-rubyrprprtnirtrprprubyii-rubyrprprtnurtrprprubyii-rubyrprprtnertrprprubyii-rubyrprprtnortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 5">
            <th>は</th>
            <th>ひ</th>
            <th>ふ</th>
            <th>へ</th>
            <th>ほ</th>
            </tr>
            <tr class="kana-details 5">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 5">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprthartrprprubyii-rubyrprprthirtrprprubyii-rubyrprprthufurtrprprubyii-rubyrprprthertrprprubyii-rubyrprprthortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 6">
            <th>ま</th>
            <th>み</th>
            <th>む</th>
            <th>め</th>
            <th>も</th>
            </tr>
            <tr class="kana-details 6">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 6">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprtmartrprprubyii-rubyrprprtmirtrprprubyii-rubyrprprtmurtrprprubyii-rubyrprprtmertrprprubyii-rubyrprprtmortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 7">
            <th>や</th>
            <th>ゆ</th>
            <th>よ</th>
            </tr>
            <tr class="kana-details 7">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 7">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprtyartrprprubyii-rubyrprprtyurtrprprubyii-rubyrprprtyortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 8">
            <th>ら</th>
            <th>り</th>
            <th>る</th>
            <th>れ</th>
            <th>ろ</th>
            </tr>
            <tr class="kana-details 8">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 8">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprtrartrprprubyii-rubyrprprtrirtrprprubyii-rubyrprprtrurtrprprubyii-rubyrprprtrertrprprubyii-rubyrprprtrortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 9">
            <th>わ</th>
            <th>を</th>
            <th>ん</th>
            </tr>
            <tr class="kana-details 9">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 9">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprtwartrprprubyii-rubyrprprtwortrprprubyii-rubyrprprtnrtrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="table-wrap">
        <div class="table-section-top">
        <h2>Dakuten Hiragana</h2>
        <p class="dakuten-score"></p>
        </div>
        <table class="dakuten-table">
        <tbody>
            <tr class="kana-header 10">
            <th>が</th>
            <th>ぎ</th>
            <th>ぐ</th>
            <th>げ</th>
            <th>ご</th>
            </tr>
            <tr class="kana-details 10">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 10">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#ii-rubyrprprtgartrprprubyii-rubyrprprtgirtrprprubyii-rubyrprprtgurtrprprubyii-rubyrprprtgertrprprubyii-rubyrprprtgortrprpruby"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 11">
            <th>ざ</th>
            <th>じ</th>
            <th>ず</th>
            <th>ぜ</th>
            <th>ぞ</th>
            </tr>
            <tr class="kana-details 11">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 11">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#section-1"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 12">
            <th>だ</th>
            <th>ぢ</th>
            <th>づ</th>
            <th>で</th>
            <th>ど</th>
            </tr>
            <tr class="kana-details 12">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 12">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#section-2"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 13">
            <th>ば</th>
            <th>び</th>
            <th>ぶ</th>
            <th>べ</th>
            <th>ぼ</th>
            </tr>
            <tr class="kana-details 13">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 13">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#section-3"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 14">
            <th>ぱ</th>
            <th>ぴ</th>
            <th>ぷ</th>
            <th>ぺ</th>
            <th>ぽ</th>
            </tr>
            <tr class="kana-details 14">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 14">
            <td colspan="5">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#section-3"
                >↪ Study again</a
                >
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="table-wrap">
        <div class="table-section-top">
        <h2>Combo Hiragana</h2>
        <p class="combo-score"></p>
        </div>
        <table class="combo-table">
        <tbody>
            <tr class="kana-header 15">
            <th>きゃ</th>
            <th>きゅ</th>
            <th>きょ</th>
            </tr>
            <tr class="kana-details 15">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 15">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 16">
            <th>しゃ</th>
            <th>しゅ</th>
            <th>しょ</th>
            </tr>
            <tr class="kana-details 16">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 16">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 17">
            <th>ちゃ</th>
            <th>ちゅ</th>
            <th>ちょ</th>
            </tr>
            <tr class="kana-details 17">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 17">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 18">
            <th>にゃ</th>
            <th>にゅ</th>
            <th>にょ</th>
            </tr>
            <tr class="kana-details 18">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 18">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 19">
            <th>ひゃ</th>
            <th>ひゅ</th>
            <th>ひょ</th>
            </tr>
            <tr class="kana-details 19">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 19">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 20">
            <th>みゃ</th>
            <th>みゅ</th>
            <th>みょ</th>
            </tr>
            <tr class="kana-details 20">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 20">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 21">
            <th>りゃ</th>
            <th>りゅ</th>
            <th>りょ</th>
            </tr>
            <tr class="kana-details 21">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 21">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 22">
            <th>ぎゃ</th>
            <th>ぎゅ</th>
            <th>ぎょ</th>
            </tr>
            <tr class="kana-details 22">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 22">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 23">
            <th>じゃ</th>
            <th>じゅ</th>
            <th>じょ</th>
            </tr>
            <tr class="kana-details 23">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 23">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 24">
            <th>ぢゃ</th>
            <th>ぢゅ</th>
            <th>ぢょ</th>
            </tr>
            <tr class="kana-details 24">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 24">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 25">
            <th>びゃ</th>
            <th>びゅ</th>
            <th>びょ</th>
            </tr>
            <tr class="kana-details 25">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 25">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
            <tr class="kana-header 26">
            <th>ぴゃ</th>
            <th>ぴゅ</th>
            <th>ぴょ</th>
            </tr>
            <tr class="kana-details 26">
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr class="kana-study 26">
            <td colspan="3">
                <a
                href="https://www.tofugu.com/japanese/learn-hiragana#combination-hiragana"
                >↪ Study again</a
                >
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>

    <div class="text">
    <p>
        Feeling like you can recall all the hiragana? Your next step in
        Japanese literacy is kanji. We built a program that uses mnemonics,
        spaced repetition, and more to teach Japanese learners 2,000+ kanji
        and 6,000+ vocabulary words. You can
        <a href="https://www.wanikani.com/"
        >try the first three levels of WaniKani for free</a
        >, no credit card required.
    </p>

    <p>Or study hiragana again!</p>
    </div>

    <button class="restart button-styling">Restart Quiz</button>
</div>

    

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'lounge/js/jquery.min.js' %}"></script>
    <script src="{% static 'japanese/js/hiragana.js' %}"></script>
{% endblock extra_js %}