{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"/>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/video_test.css' %}"> -->

    {% block extra_css %}
        <!-- Override this in templates to add extra stylesheets -->
    {% endblock extra_css %}
</head>
<body>
    {% block content %}
    {% endblock content %}

    {% block extra_js %}
    {% endblock extra_js %}
    <script src="{% static 'lounge/js/lounge.js' %}"></script>
</body>
</html>
